{% extends "FaimfonyBundle:Default:layout.html.twig" %}

{% block content %}
    <a href="{{ path('profil_restau', {'id':meal.restaurant.id}) }}" class="btn btn-default"><i class="fa fa-chevron-left" aria-hidden="true"></i>
            Retour vers le resto</a>
    <h2 class="page-header">Editer mon plat : {{ meal.name }}</h2>
    {% if app.session.flashBag.has('notice') %}
        <div class="alert-msg">
            {% for msg in app.session.flashBag.get('notice') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    <div class="">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <img src="{{ asset(meal.image.url) }}" alt="{{ meal.image.alt }}" class="img-thumbnail" style="width:200px;"><br><br>
        <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
        {{ form_end(form) }}

    </div>


{%  endblock %}