{% extends "FaimfonyBundle:Default:layout.html.twig" %}

{% block content %}

    <h1>Bienvenue {{ user.getFirstname() }}</h1>

    <div class="block-search">
        <h2 class="page-header">J'ai faim!</h2>


    </div>
    <div class="block-favoris">
        <h2 class="page-header">Mes favoris</h2>

    </div>
    <div class="block-bestmeal">
        <h2 class="page-header">Les meilleurs plats</h2>

    </div>
    {% if user.getIsCooker() %}
        <div class="block-myrestaurants">
            <h2 class="page-header">Mes restaurants</h2>

            <div class="row">

                {% for restau in restaus %}

                    <div class="col-sm-6 col-md-4">
                        <div id="resto-{{ restau.id }}" class="thumbnail">
                            <img src="http://placehold.it/350x150" alt="...">
                            <div class="caption">
                                <h3>{{ restau.name }}</h3>
                                <p>...</p>
                                <p><a href="/restaurant/{{ restau.id }}" class="btn btn-primary" role="button"><i class="fa fa-eye" aria-hidden="true"></i> Voir</a> <a href="/restaurant/edit/{{ restau.id }}" class="btn btn-default" role="button"><i class="fa fa-pencil" aria-hidden="true"></i> Modifier</a></p>
                            </div>
                        </div>
                    </div>

                {% endfor %}

                <div class="col-sm-6 col-md-4">
                    <a class="btn btn-default btn-lg btn-block" href="restaurant/create/"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter un resto</a>
                </div>

            </div>
        </div>
    {% endif %}

{% endblock %}

